body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e3a8a; /* Blue */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #2ece93; /* Green */
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #eab308; /* Gold */
}

section {
    padding: 20px;
}

section#about img {
    max-width: 200px;
    border-radius: 50%;
}

footer {
    background-color: #1e3a8a; /* Blue */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 80%; /* Decrease width */
    margin: 0 auto; /* Center the footer */
    position: relative; /* Remove fixed position */
    bottom: 0;
}

html {
    scroll-behavior: smooth;
}
