body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e3a8a; /* Blue */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #34d399; /* Green */
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #eab308; /* Gold */
}

section {
    padding: 20px;
}

section#about {
    display: flex; /* Set as flex container */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Separate content and image */
}

section#about .content {
    flex: 1; /* Take up remaining space */
    padding-right: 20px; /* Space between content and image */
}

section#about img {
    max-width: 200px; /* Limit image width */
    border-radius: 50%; /* Round the image */
    flex: 0 0 auto; /* Do not allow image to grow or shrink */
}

footer {
    background-color: #1e3a8a; /* Blue */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%; /* Full width */
    position: relative; /* Ensure it's part of the flow */
    bottom: 0;
}

html {
    scroll-behavior: smooth;
}

.project {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.project-thumbnail {
    flex: 0 0 auto; /* Prevent thumbnail from growing or shrinking */
    margin-right: 20px; /* Space between thumbnail and project details */
}

.project-thumbnail img {
    max-width: 100%; /* Ensure thumbnail does not exceed container width */
    height: auto;
    border-radius: 5px;
}

.project-details {
    flex: 1; /* Take up remaining space */
}

.project h3 {
    font-size: 18px;
    margin-top: 0; /* Remove default margin */
    margin-bottom: 10px;
}

.project p.description {
    font-size: 16px;
    line-height: 1.4;
}
